{% extends 'panel/budget/header.html.twig' %}

{% block title %}Hello BudgetController!
{% endblock %}


{% block ext %}

	

	<div class="container">
		<table class="table table-striped text-center align-middle">
			<thead>
				<tr>
					<th scope="col">Mois</th>
					{% for bankAccount in app.user.bankAccounts %}
						<th>
							<a href="{{ path('app_budget_by_bank_account', {'id': bankAccount.id}) }}">
								{{ bankAccount }}
							</a>
						</th>
					{% endfor %}
					<th>Total</th>
				</tr>

			</thead>
			<tbody>
				{% set accounts_value = [] %}
				{% for month_id in 0..6 %}
					{% set month_value_conf = "+"~month_id~" month" %}
					{% set accounts_total = 0 %}

					<tr>
						<td>{{ month_value_conf|date('F') }}</td>

						{% for bankAccount in app.user.bankAccounts %}
						{% set current_value  = bankAccount.getScheduleBalance(month_id) %}

						{% if current_value < 0 %}
								{% set color = "bg-danger" %}
							{% else %}
								{% set color = "bg-success" %}
							{% endif %}

						{% if month_id == 0 %}
							{% set current_value = current_value + bankAccount.initialValue %}
						{% endif %}
						
							
							


							{% set accounts_total = accounts_total + current_value  %}
							
							{% if bankAccount.label not in accounts_value|keys %}
								{% set accounts_value = accounts_value|merge({ (bankAccount.label) : current_value}) %}
							{% else %}
								
								{% set accounts_value = accounts_value|merge({ (bankAccount.label) : accounts_value[bankAccount.label] + current_value}) %}
							{% endif %}

							
							<td class="{{color|default('')}}">{{ accounts_value[bankAccount.label] |number_format(2, ',', ' ')  }} 
								 €</td>
						{% endfor %}
						<td>{{ accounts_total|number_format(2, ',', ' ') }}
							€</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>

{% endblock %}
