{% extends 'base.html.twig' %}

{% block title %}Hello BudgetController!
{% endblock %}

{% block body %}

	<div class="d-flex justify-content-between">
		<div></div>
		<div
			class="button-wrapper">
			{# dropdown #}
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-cog"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="{{path('app_bank_account_index')}}">Compte</a>
					<a class="dropdown-item" href="{{ path('app_schedule_expense_index')}}">Dépense prévisionnel</a>
				</div>
			</div>


		</div>

	</div>

	<div class="container">
		<table class="table table-striped text-center align-middle">
			<thead>
				<tr>
					<th scope="col">Mois</th>
				{% for bankAccount in app.user.bankAccounts %}
					<th>{{ bankAccount}}</th>
				{% endfor %}
				<th>Total</th>
				</tr>

			</thead>
			<tbody>
				{% for month_id in 0..6 %}
					{% set month_value_conf = "+"~month_id~" month" %}
					<tr>
						<td>{{ month_value_conf|date('F') }}</td>

						{% set total = 0 %}
						{% for bankAccount in app.user.bankAccounts %}
							{% set total = total + bankAccount.getScheduleBalance(month_id) %}
							<td>{{ bankAccount.getScheduleBalance(month_id)|number_format(2, ',', ' ') }} €</td>
						{% endfor %}
						<td>{{ total|number_format(2, ',', ' ') }} €</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>

{% endblock %}
