{% extends 'panel/budget/header.html.twig' %}

{% block title %}Hello BudgetController!
{% endblock %}


{% set old_total = 0 %}
{% block ext %}

	

	<div class="container">
		<table class="table table-striped text-center align-middle">
			<thead>
				<tr>
					<th scope="col">Mois</th>
					{% for bankAccount in app.user.bankAccounts %}
						<th>
							<a href="{{ path('app_budget_by_bank_account', {'id': bankAccount.id}) }}">
								{{ bankAccount }}
							</a>
						</th>
					{% endfor %}
					<th>Total</th>
				</tr>

			</thead>
			<tbody>
				{% for month_id in 0..6 %}
					{% set month_value_conf = "+"~month_id~" month" %}
					<tr>
						<td>{{ month_value_conf|date('F') }}</td>

						{% set total = 0 %}
						{% for bankAccount in app.user.bankAccounts %}
							{% set total = total + bankAccount.getScheduleBalance(month_id) + old_total %}
							{% set old_total = total %}
							<td>{{ bankAccount.getScheduleBalance(month_id)|number_format(2, ',', ' ') }}
								€</td>
						{% endfor %}
						<td>{{ total|number_format(2, ',', ' ') }}
							€</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>

{% endblock %}
