{% extends 'base.html.twig' %}

{% block title %}Modifier ligne n°{{ ligne.id}} - Tech&Dev
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modifier ligne n°{{ ligne.id}} </h1>

		<div class="container">{{ include('ligne/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

			<a href="{{ path('resume',{year : 'now' | date('Y')}) }}" class="btn btn-dark m-2">Retour</a>
			{{ include('ligne/_delete_form.html.twig') }}</div>



		</div>


	</div>

{% endblock %}
