{% extends 'base.html.twig' %}

{% block title %}Ligne index
{% endblock %}
{% block body %}
	<h1>Ligne index</h1>
	<a class="btn btn-success" href="{{ path('ligne_new') }}">Ajouter</a>
	<table class="table text-white">
		<thead>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Libellé</th>
				<th>Libellé 2</th>
				<th>Montant</th>
				<th>Type</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for ligne in lignes %}
				<tr>
					<td>{{ ligne.id }}</td>
					<td>{{ ligne.date ? ligne.date|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ ligne.libelle }}</td>
					<td>{{ ligne.libelle2 }}</td>
					<td>{{ ligne.montant }}</td>
					<td>{{ ligne.type }}</td>
					<td>
						<a href="{{ path('ligne_show', {'id': ligne.id}) }}">show</a>
						<a href="{{ path('ligne_edit', {'id': ligne.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">Pas de données trouvées</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
