{% extends 'base.html.twig' %}

{% block title %}Nouvelle ligne - Tech&Dev
{% endblock %}

{% block javascripts %}
	{{parent()}}

	<script>
		$(document).ready(function () {
			$('#income').change(function () {
				let value = $("#ligne_montant").val();
				$("#ligne_montant").val(Math.abs(value));
			});
			$('#expense').change(function () {
				let value = $("#ligne_montant").val();
				$("#ligne_montant").val(-Math.abs(value));
			});

			$('#ligne_montant').change(function () {
				let value = $("#ligne_montant").val();
				let income = $('#income').is(':checked');

				if (income) {
					$("#ligne_montant").val(Math.abs(value));
				} else {
					$("#ligne_montant").val(-Math.abs(value));
				}
			});
		});
	
	</script>

{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex justify-content-between align-items-center">
		<h1>Créer nouvelle ligne </h1>
			<div class="d-flex"> 
					<div class="d-flex align-items-center bg-success p-1 rounded" >
						<input type="radio" name="type" id="income" >
					<label for="income" >Revenu</label>
					</div>
					<div  class="d-flex align-items-center ms-5 bg-danger p-1 rounded"  >
					<input type="radio" name="type" id="expense" checked>
				<label for="expense">Dépense</label>
			</div>
			</div>
		
		</div>

		<div class="container">
			{{ include('ligne/_form.html.twig') }}
			<a href="{{ path('resume',{year : "now" | date('Y')}) }}" class="btn btn-dark m-2">Retour</a>
		</div>
	</div>
	<div class="modal fade text-dark" id="createCategorie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-dark" id="exampleModalLabel">Créer une catégorie</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				{{form_start(createCategorie)}}
				<div class="modal-body">
					{{form_widget(createCategorie)}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-success">Créer</button>
				</div>
				{{form_end(createCategorie)}}
			</div>
		</div>
	</div>

{% endblock %}
