
<div class="d-flex align-items-center">
<a href="{{path('ligne_new')}}" class="btn btn-success">Ajouter</a>
<div class="ms-3">Opération ({{lignes | length}}) : </div>

</div>

<table class="table table-striped text-center">


	<thead>

		<tr>
			<th>

				<div class="d-flex align-items-center">
					<div>Categorie</div>
					{% include "templates/sort_row.html.twig" with { sort : sort , order :order, col :'categorie'} %}

				</div>

			</th>
			<th>

				<div class="d-flex align-items-center">
					<div>Date</div>
					{% include "templates/sort_row.html.twig" with { sort : sort , order :order , col:'date'} %}

				</div>

			</th>
			<th>

				<div class="d-flex align-items-center">
					<div>Type</div>
					{% include "templates/sort_row.html.twig" with { sort : sort , order :order , col :'type'} %}

				</div>

			</th>
			<th>

				<div class="d-flex align-items-center">
					<div>Libelle</div>
					{% include "templates/sort_row.html.twig" with { sort : sort , order :order , col:'libelle'} %}

				</div>

			</th>
			<th>

				<div class="d-flex align-items-center">
					<div>Montant</div>
					{% include "templates/sort_row.html.twig" with { sort : sort , order :order , col : 'montant'} %}

				</div>

			</th>


			<th class="align-middle">Total :
				{{sum}}
				€</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% set total = 0 %}
		{% for item in lignes %}
			{% set total = total + item.montant %}
			<tr>
				{% if item.categorie != null %}
					{% set bg = "bg-"~item.categorie.color %}
				{% else %}
					{% set bg = 'none' %}
				{% endif %}
				<td {% if bg is defined %} class="{{bg}}" {% endif %}>{{item.categorie}}</td>

				<td>{{ item.date ? item.date|date('Y-m-d H:i:s') : '' }}</td>


				<td>{{item.type}}</td>
				<td>{{item.libelle}}</td>
				<td>{{item.montant}}
					€</td>
				<td>{{total}}
					€</td>
				<td class="d-flex justify-content-between">
					<a href="{{path('line.set.statut',{id : item.id,statut : 1})}}" class="btn btn-success m-1">Dû</a>
					<a href="{{path('line.set.statut',{id : item.id,statut : 2})}}" class="btn btn-danger m-1">A Payer</a>

				</td>
				<td>
					<a href="{{path('ligne_edit',{id : item.id})}}" class="btn btn-info m-1">Modifier</a>

				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
