

<div class="d-flex align-items-center">
	<a href="{{path('ligne_new')}}" class="btn btn-success">Ajouter</a>

</div>

<table class="table table-striped text-center align-middle">


	<thead>

		<tr>
		<th></th>
			<th>
				<div class="d-flex align-items-center">
					<div>Catégorie</div>
					{% include "templates/sort_row.html.twig" with { sort : sort , order :order, col :'categorie'} %}

				</div>

			</th>
			<th>

				<div class="d-flex align-items-center">
					<div>Date</div>
					{% include "templates/sort_row.html.twig" with { sort : sort , order :order , col:'date'} %}

				</div>

			</th>
			<th>

				<div class="d-flex align-items-center">
					<div>Type</div>
					{% include "templates/sort_row.html.twig" with { sort : sort , order :order , col :'type'} %}

				</div>

			</th>
			<th>

				<div class="d-flex align-items-center">
					<div>Libelle</div>
					{% include "templates/sort_row.html.twig" with { sort : sort , order :order , col:'libelle'} %}

				</div>

			</th>
			<th>

				<div class="d-flex align-items-center">
					<div>Montant</div>
					{% include "templates/sort_row.html.twig" with { sort : sort , order :order , col : 'montant'} %}

				</div>

			</th>


			<th class="align-middle">Total :
				{{sum | default(0)}}
				€</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% set total = 0 %}
		{% for item in lignes %}
			{% set total = total + item.montant %}
			<tr>
				{% if item.categorie != null %}
					{% set bg = "bg-"~item.categorie.color %}
				{% else %}
					{% set bg = 'none' %}
				{% endif %}
				<td>
					<input type="checkbox" class="form-check" name="entry[]" value="{{item.id}}" id="entry_{{item.id}}">
				</td>

				<td>
					<div {% if bg is defined %} class="{{bg}} rounded py-3" {% endif %}>
						{{item.categorie}}
					</div>

				</td>

				<td>{{ item.date ? item.date|date('Y-F-d H:i:s') : '' }}</td>


				<td>{{item.type}}</td>
				<td>{{item.libelle}}</td>
				<td>{{item.montant}}
					€</td>
				<td>{{total}}
					€</td>
				<td>
					{# <a href="{{path('line.set.statut',{id : item.id,statut : 1})}}" class="btn btn-success m-1">Dû</a>
																				<a href="{{path('line.set.statut',{id : item.id,statut : 2})}}" class="btn btn-danger m-1">A Payer</a> #}

				</td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fas fa-cog"></i>
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{{path('ligne_edit',{id : item.id})}}">
								<i class="fas fa-edit"></i>
								Modifier
							</a>
							<a class="dropdown-item" href="{{ path('app_schedule_expense_new',{expense_id : item.id})}}">Créer une dépense prévisionnel</a>
						</div>
					</div>
				</td>
			</tr>

		{% else %}
			<tr>
				<td colspan="8">Pas de ligne</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
