{% extends 'base.html.twig' %}

{% block title %}Accueil - Tech&Dev
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script defer>
		var params = {
			sort: '{{sort}}',
			order: '{{order}}',
			bank_account: {{current_bank_account.id}},
			categories: [],
			unlimited: 0,
			label: '',
			startDate: '',
			endDate: ''
		}
		function updateCheckbox(id) {
			if (params.categories.includes(id)) {
				params.categories = params.categories.remove(id);
			} else {
				params.categories.push(id);
			}
			updateTable()
			
		}

		function updateTable() {
			fetch("{{path('render_table_lines')}}", {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(params),
			})
				.then(response => response.text())
				.then(data => {
					document.querySelector('#complete_table').innerHTML = data;
				})
				.catch((error) => {
					console.error('Error:', error);
				});
		}

		function forceUnchecked() {
			document.querySelectorAll('input[type="checkbox"]').forEach((checkbox) => {
				checkbox.checked = false;
			})
		}

		function clearInputs() {
			document.querySelectorAll('input[type="text"]').forEach((input) => {
				input.value = '';
			})
			document.querySelectorAll('input[type="date"]').forEach((input) => {
				input.value = '';
			})
		}

		function setupRefresh(){
			forceUnchecked();
			clearInputs();
		}

		// jquery document is ready
		$(document).ready(function () {
			setupRefresh();
			
			$('#bank_account_select').change(function () {
				params.bank_account = $(this).val();
				updateTable()
			})

			$('#sort').change(function () {
				params.sort = $(this).val();
				updateTable()
			})

			$('#order').change(function () {
				params.order = $(this).val();
				updateTable()
			})

			$('#unlimited').change(function () {
				params.unlimited = $(this).val();
				updateTable()
			})

			$('#category_container input').change(function () {
				updateCheckbox($(this).val())
			})
			
			$('#label').change(function () {
				params.label = $(this).val();
				updateTable()
			})

			$('#startDate').change(function () {
				params.startDate = $(this).val();
				updateTable()
			})

			$('#endDate').change(function () {
				params.endDate = $(this).val();
				updateTable()
			})

			updateTable()



		})

	
	</script>

{% endblock %}

{% block body %}

	<div class="d-flex justify-content-end">
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				Actions
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

				<div class="dropdown-item">
					<a data-bs-toggle="modal" data-bs-target="#importModal">Importer</a>
				</div>
				<div class="dropdown-item">
					<a href="{{path('export')}}">Exporter</a>
				</div>

			</div>
		</div>
	</div>


	<div>
		<div class="d-flex justify-content-around mx-3">
			<fieldset>
				<div class="d-flex justify-content-between">
					<legend>Montant à payer</legend>
					<div class="ms-3">
						<a href="{{path('ligne_new',{option : 2})}}" class=" btn btn-success">Ajouter</a>
					</div>
				</div>
				<div>
					{% if to_pay | length > 0 %}
						<div class="table-responsive">

							<table class="table table-striped text-center">


								<thead>

									<tr>

										<th>Date</th>
										<th>Type</th>
										<th>Libelle</th>
										<th>Montant</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for item in to_pay %}
										<tr>
											<td>{{ item.date ? item.date|date('Y-m-d H:i:s') : '' }}</td>

											<td>{{item.type}}</td>
											<td>{{item.libelle}}</td>
											<td>{{item.montant}}
												€</td>
											<td>
												<a href="{{path('line.set.statut',{id:item.id,statut : 3})}}" class="btn btn-info">Payée</a>
											</td>

										</tr>

									{% endfor %}
									<tr>
										<td></td>
										<td></td>
										<td>TOTAL :</td>
										<td>{{total_to_pay}}€</td>

										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					{% else %}
						<div>
							Il n'y a rien à payer.
						</div>
					{% endif %}
				</div>

			</fieldset>
			<fieldset>


				<div class="d-flex justify-content-between">
					<legend>Montant dû</legend>
					<div class="ms-3">
						<a href="{{path('ligne_new',{option : 1})}}" class=" btn btn-success">Ajouter</a>
					</div>
				</div>
				<div>
					{% if du | length > 0 %}
						<div class="table-responsive">

							<table class="table table-striped text-center">


								<thead>

									<tr>

										<th>Date</th>
										<th>Type</th>
										<th>Libelle</th>
										<th>Montant</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for item in du %}
										<tr>
											<td>{{ item.date ? item.date|date('Y-m-d H:i:s') : '' }}</td>


											<td>{{item.type}}</td>
											<td>{{item.libelle}}</td>
											<td>{{item.montant}}
												€</td>
											<td>
												<a href="{{path('line.set.statut',{id:item.id,statut : 4})}}" class="btn btn-info">Soldée</a>
											</td>

										</tr>

									{% endfor %}
									<tr>
										<td></td>
										<td></td>
										<td>TOTAL :</td>
										<td>{{total_du}}€</td>
										<td></td>
									</tr>

								</tbody>
							</table>
						</div>
					{% else %}
						<div>Vous n'avez rien à recevoir</div>
					{% endif %}
				</div>

			</fieldset>
		</div>
		<div class="d-flex flex-column mx-3">


			{% if to_filter is not empty %}
				<fieldset class="me-3">
					<legend>Opération à catégoriser ({{to_filter | length}})</legend>
					<form action="{{path('categoriser')}}" method="post">

						<div class="table-responsive">
							<table class="table table-striped me-3">
								<thead>

									<tr>
										<th>Catégorie</th>
										<th>Date</th>
										<th>Type</th>
										<th>Libelle</th>
										<th>Montant</th>
										<th>
											<button type="submit" class="btn btn-success">Valider</button>
										</th>
									</tr>
								</thead>
								<tbody>
									{% for item in to_filter %}
										<tr>
											{% if item.categorie != null %}
												{% set bg = "bg-"~item.categorie.color %}
											{% else %}
												{% set bg = 'none' %}
											{% endif %}
											<td {% if bg is defined %} class="{{bg}}" {% endif %}>{{item.categorie}}</td>
											<td>{{ item.date ? item.date|date('Y-F-d H:i:s') : '' }}</td>


											<td>{{item.type}}</td>
											<td>{{item.libelle}}</td>
											<td>{{item.montant}}
												€</td>

											<td class="d-flex justify-content-between p-1">
												<select name="categorie_{{item.id}}" id="ligne_{{item.id}}" class="form-select">
													<option value="null"></option>
													{% for cat in categories %}
														<option value="{{cat.id}}">{{cat}}</option>
													{% endfor %}

												</select>
											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="6" class="text-center">Aucun éléments</td>
										</tr>
									{% endfor %}
								</tbody>

							</table>

						</div>

					</form>

				</fieldset>

			{% endif %}


			<div class="d-flex">
				<div class="wrapper-filter">
					<div class="form-check ms-3">
						<input type="checkbox" name="unlimited" id="unlimited" class="form-check-input" value="0">
						<label class="form-check-label" for="unlimited">Affichage non limité</label>
					</div>
					<div class="form-row">
						<label for="label">Libelle</label>
						<input type="text" name="label" id="label" class="form-control" value="">
					</div>
					<div class="form-row">
						<label for="startDate">Date de début</label>
						<input type="date" name="startDate" id="startDate" class="form-control" value="">
					</div>
					<div class="form-row">
						<label for="endDate">Date de fin</label>
						<input type="date" name="endDate" id="endDate" class="form-control" value="">
					</div>
					<div id="category_container">
						<label for="category">Catégories</label>
						{% for category in app.user.categories %}
							<div class="form-check ms-3">
								<input type="checkbox" name="category" id="category" class="form-check-input" value="{{category.id}}">
								<label class="form-check-label" for="category">{{category}}</label>
							</div>
						{% endfor %}
					</div>
				</div>

				<fieldset class="flex-fill">
					<div class="my-3">
						<select name="bank_account_select" id="bank_account_select">
							{% for bank_account in app.user.bankAccounts %}
								<option value="{{bank_account.id}}" {% if bank_account.id == current_bank_account.id %} selected {% endif %}>{{bank_account}}</option>
							{% endfor %}

						</select>
					</div>


					<div class="table-responsive" id="complete_table">

					</div>

				</fieldset>
			</div>
		</div>

	</div>


{% endblock %}
