{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/resume.css') }}">
{% endblock %}
{% block title %}
	Récapitulatif - Tech&Dev
{% endblock %}

{% block body %}

	<fieldset>
		<div class="d-flex">
		{% for item in years %}
		{% set item = item | first %}
		
			{% if item == year %}
				<legend>Année {{year}}</legend>
			{% else %}
				<a href="{{path('resume',{year : item})}}" class="btn btn-info">{{item}}</a>

			{% endif %}
		{% endfor %}
		</div>
		<table class="table table-striped resume">
			<thead class="sticky-top">
				<th>Action</th>
				<th>Mois</th>
				{% for item in categories %}
					<th>{{item}}</th>
				{% endfor %}
				<th>Total catégorisé</th>
				<th>Total</th>
			</thead>
			<tbody>

				{% for month in sumByMonth | keys %}
					{% set sum = 0 %}
					<tr>
						<td>
							<a href="{{path('resume.see',{year : year , month : month})}}" class="btn btn-primary">Voir</a>
						</td>
						<td>{{month}}</td>
						{% for item in categories %}

							{% set value = attribute(sumByMonth,month) %}

							{% if item.libelle in value|keys %}
								{% set sum  = sum + value[item.libelle] %}
								<td>{{value[item.libelle] }}
									€</td>
							{% else %}
								<td>0 €</td>
							{% endif %}
						{% endfor %}
						<td>{{sum}} €</td>
						<td>{{sumByMonthYear[month]}} €</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>

	</fieldset>

{% endblock %}
