{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/resume.css') }}">
{% endblock %}
{% block title %}
	Récapitulatif - Tech&Dev
{% endblock %}

{% block body %}

	<fieldset>
		<div class="d-flex align-items-center">
			<h1>Récapitulatif</h1>
				<div>
		<select class="form-select mx-3" id="select_year">
		{% for item in years %}
		{% set item = item | first %}
					<option value="{{item}}" 
				{% if item == year %}selected="selected"{% endif %}
					>{{item}}</option>

		{% endfor %}
	</select>
	</div>
		
		</div>
		<table class="table table-striped resume">
			<thead class="sticky-top">
				<th>Action</th>
				<th>Mois</th>
				{% for item in categories %}
					<th>{{item}}</th>
				{% endfor %}
				<th>Total catégorisé</th>
				<th>Total</th>
			</thead>
			<tbody>
				{% for month in sumByMonth | keys %}
					{% set sum = 0 %}
					<tr>
						<td>
							<a href="{{path('resume.see',{year : year , month : month})}}" class="btn btn-primary">Voir</a>
						</td>
						<td>{{month}}</td>
						{% for item in categories %}

							{% set value = attribute(sumByMonth,month) %}

							{% if item.libelle in value|keys %}
								{% set sum  = sum + value[item.libelle] %}
								<td>{{value[item.libelle] }}
									€</td>
							{% else %}
								<td>0 €</td>
							{% endif %}
						{% endfor %}
						<td>{{sum}} €</td>
						<td>{{sumByMonthYear[month]}} €</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>

	</fieldset>

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>
	
		$(document).ready(function(){
			$('#select_year').change(function(){
				var year = $(this).val();
				window.location.href = "{{path('resume')}}?year="+year;
			});
		});

	
	</script>

{% endblock %}
