{% extends "base.html.twig" %}


{% block body %}
	<pre>
		{{ dump(sumByMonth) }}
	</pre>
	<table class="table table-striped">
		<thead>
			<th></th>
			<th>#</th>
			{% for item in categories %}
				<th>{{item}}</th>
			{% endfor %}
			<th></th>
		</thead>
		<tbody>

			{% for month in sumByMonth | keys %}
				{% set sum = 0 %}
				<tr>
					<td>
						<a href="{{path('resume.see',{year : '2021' , month : month})}}" class="btn btn-primary">Voir</a>
					</td>
					<td>{{month}}</td>
					{% for item in categories %}

						{% set value = attribute(sumByMonth,month) %}

						{% if item.libelle in value|keys %}
							{% set sum  = sum + value[item.libelle] %}
							<td>{{value[item.libelle] }}
								€</td>
						{% else %}
							<td>0 €</td>
						{% endif %}
					{% endfor %}
					<td>{{sum}}
						€</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>

{% endblock %}
