{% block body %}
	<div class="d-flex align-items-center">
		<h1>Index professionnel </h1>
		<div>
			<a href="{{ path('profesionnel_new') }}" class="btn btn-success mx-3">Créer un nouveau contact</a>
		</div>


	</div>

	<table class="table text-white">
		<thead>
			<tr>
				<th>ID</th>
				<th>Adresse mail</th>
				<th>Rue</th>
				<th>Code Postal</th>
				<th>Ville</th>
				<th>Pays</th>
				<th>Raison Social</th>
				<th>Contact</th>
				<th>Mail 2</th>
				<th>Téléphone</th>
				<th>Téléphone 2</th>
				<th>SIRET</th>
				<th>Image</th>
				<th>Quota</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for profesionnel in profesionnels %}
				<tr>
					<td>{{ profesionnel.id }}</td>
					<td>{{ profesionnel.mail }}</td>
					<td>{{ profesionnel.rue }}</td>
					<td>{{ profesionnel.cp }}</td>
					<td>{{ profesionnel.ville }}</td>
					<td>{{ profesionnel.pays }}</td>
					<td>{{ profesionnel.raisonSocial }}</td>
					<td>{{ profesionnel.contact }}</td>
					<td>{{ profesionnel.mail2 }}</td>
					<td>{{ profesionnel.tel1 }}</td>
					<td>{{ profesionnel.tel2 }}</td>
					<td>{{ profesionnel.SIRET }}</td>
					<td>{{ profesionnel.image }}</td>
					<td>{{ profesionnel.quota }}</td>
					<td>
						<a class="btn btn-primary" href="{{ path('profesionnel_show', {'id': profesionnel.id}) }}">Afficher</a>
						<a class="btn btn-success" href="{{ path('profesionnel_edit', {'id': profesionnel.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="15">Pas de contacts trouvés</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
