{% extends 'base.html.twig' %}

{% block title %}Hello FolderController!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/folder.css">
{% endblock %}

{% block body %}

	<div>
		{{form_start(uploadFilesForm)}}
		<input type="hidden" name="rootFolder" value="{{rootFolder.id}}">
		{{form_end(uploadFilesForm)}}
	</div>
	<div>
		<a href="" class="btn btn-success">Nouveau Dossier</a>
	</div>


	<div class="m-3">
		<h1>{{rootFolder.getPath(path('folder',{id:0}))}}</h1>
		<div class="folder-container">
			<div>
				<button onclick="newFolder()">
					<i class="fas fa-folder-plus"></i>
				</button>
			</div>


			{% for item in rootFolder.folders %}
				<a class="folder" href="{{path('folder',{id : item.id})}}">
					<i class="far fa-folder folder"></i>

					{{item}}</a>
			{% endfor %}


			{% for item in rootFolder.getFiles() %}
				<div class="file">
					<a href="/folder{{item.path}}" target="_blank">
						<i class="{{item.icon}}"></i>
					</a>


					{{item}}</div>

			{% endfor %}

			<div class="hide" id="new_folder_container">
				<i class="far fa-folder"></i>
				<input type="text" class="form-control" name="new_folder" id="new_folder_input"></div>


		</div>
	</div>
	<script>
		const rootFolder = {{ rootFolder.id }};
	</script>
	<script src="/js/folder.js"></script>

{% endblock %}
