{% block body %}
	<div class="d-flex align-items-center">
		<h1>Index particulier</h1>
		<div>
			<a href="{{ path('particulier_new') }}" class="btn btn-success mx-3">Créer un nouveau contact</a>
		</div>


	</div>

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Adresse mail</th>
				<th>Rue</th>
				<th>Code Postal</th>
				<th>Ville</th>
				<th>Pays</th>
				<th>Téléphone</th>
				<th>Civilité</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for particulier in particuliers %}
				<tr>
					<td>{{ particulier.id }}</td>
					<td>{{ particulier.mail }}</td>
					<td>{{ particulier.rue }}</td>
					<td>{{ particulier.cp }}</td>
					<td>{{ particulier.ville }}</td>
					<td>{{ particulier.pays }}</td>
					<td>{{ particulier.telephone }}</td>
					<td>{{ particulier.civilite }}</td>
					<td>{{ particulier.nom }}</td>
					<td>{{ particulier.prenom }}</td>
					<td>
						<a class="btn btn-primary" href="{{ path('particulier_show', {'id': particulier.id}) }}">Afficher</a>
						<a class="btn btn-success" href="{{ path('particulier_edit', {'id': particulier.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">Pas de contacts trouvés</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
