{% block body %}

	<h1>Index ExtentionIcon</h1>
	<a href="{{ path('extention_icon_new') }}" class="btn btn-success">Créer nouvelle</a>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Extension</th>
				<th>Icon_class</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for extention_icon in extention_icons %}
				<tr>
					<td>{{ extention_icon.id }}</td>
					<td>{{ extention_icon.extension }}</td>
					<td>{{ extention_icon.iconClass }}</td>
					<td>
						<button class="btn btn-info m-1" onclick="window.location.href='/extention/icon/{{ extention_icon.id }}'">Afficher</button>
						<button class="btn btn-info m-1" onclick="window.location.href='/extention/icon/{{ extention_icon.id }}/edit'">Modifier</button>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Pas de données trouvées</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
