{% block body %}
	<h1>Index utilisateur</h1>
	<button class="btn btn-success m-2" onclick="window.location.href='/user/new'">Nouvel utilisateur</button>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom d'utilisateur</th>
				<th>Roles</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>
						<button class="btn btn-primary m-1" onclick="window.location.href='/user/{{ user.id }}'">Afficher</button>
						<button class="btn btn-info m-1" onclick="window.location.href='/user/{{ user.id }}/edit'">Modifier</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Pas d'utilisateurs trouvés</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
