{% extends 'base.html.twig' %}

{% block title %}Utilisateur n°{{ user.id }}{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody class="text-light">
            <tr>
                <th>ID</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom d'utilisateur</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Mot de passe (chiffré)</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex">
        <button class="btn btn-primary m-2" onclick="window.location.href='/admin'">Retour à la liste</button>
        <button class="btn btn-info m-2" onclick="window.location.href='/user/{{ user.id }}/edit'">Modifier</button>

        {{ include('user/_delete_form.html.twig') }}
    </div>

{% endblock %}
